$button-green: #59A98C;
$button-yellow: #E7CD49;
$pink-accent: #E39C9C;
$darkgray-accent: #5C5C5C;

#resume {
    display: none;
    color: $button-yellow;
    border-color: $button-yellow;
}

#pause {
    display: none;
    color: white;
    background-color: $darkgray-accent;
    border: none;
}

button {
    background: none;
    border: 2px solid;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    outline: none;
    min-height: 60px;
}

#start {
    border-color: $button-green;
    color: $button-green;
}

#reset {
    border-color: $pink-accent;
    color: $pink-accent;
}

button i {
    margin-left: 10px;
    font-size: 18px;
}