* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 0 10vw;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
  background: linear-gradient(180deg, white 0%, #fafafa 100%);
}

a:hover, a:visited, a:link, a:active p {
  text-decoration: none !important;
}

#footer a:hover {
  font-weight: bold;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.2vw solid black;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
  background: linear-gradient(180deg, white 0%, #fafafa 100%);
  width: 70vw;
  height: 30vw;
  margin: auto;
}

#timer-container p {
  background: -webkit-linear-gradient(#333333, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#state-container {
  margin: auto;
  margin-bottom: 2vh;
}

#state-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: 500;
  margin: 0 0 0 25%;
}

#current-state {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 6vw;
  margin: 0 0 0 35%;
  text-transform: uppercase;
}

#display-container {
  margin-bottom: 40px;
}

#logo {
  margin: 0 auto;
  padding-top: 2vh;
}

#logo img {
  width: 200px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2vh;
}

#footer p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: #5C5C5C;
  text-align: center;
}

#footer .bold {
  font-weight: bold;
}

#top-left-shape {
  width: 25vw;
  height: 10vw;
  background-color: #E39C9C;
  position: absolute;
  z-index: -1;
  margin-top: -4vw;
}

#bottom-right-shape {
  width: 60vw;
  height: 10vw;
  background-color: #E39C9C;
  position: absolute;
  z-index: -1;
  margin-top: -6vw;
  right: 10vw;
}

#button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 3vw;
}

#more-settings {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
}

@media only screen and (min-width: 530px) {
  #timer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 6.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 6px solid black;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
    background: linear-gradient(180deg, white 0%, #fafafa 100%);
    width: 400px;
    height: 175px;
    margin: auto;
  }
  #state-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 0 0 0 25%;
  }
  #current-state {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 0 35%;
    text-transform: uppercase;
  }
  #top-left-shape {
    width: 150px;
    height: 100px;
    background-color: #E39C9C;
    position: absolute;
    z-index: -1;
    margin-top: -20px;
  }
  #bottom-right-shape {
    width: 300px;
    height: 100px;
    position: relative;
    background-color: #E39C9C;
    z-index: -4;
    margin-top: -80px;
    left: 150px;
  }
  #state-container {
    margin: auto;
    margin-bottom: 15px;
  }
  #display-container {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }
  #button-container {
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 700px) {
  #logo img {
    width: 300px;
  }
  body {
    padding: 0 20vw;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0 30vw;
  }
}

@media only screen and (min-width: 2000px) {
  #timer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 6.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 6px solid black;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
    background: linear-gradient(180deg, white 0%, #fafafa 100%);
    width: 400px;
    height: 175px;
    margin: auto;
  }
  #state-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 0 0 0 25%;
  }
  #current-state {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 0 35%;
    text-transform: uppercase;
  }
  #top-left-shape {
    width: 150px;
    height: 100px;
    background-color: #E39C9C;
    position: absolute;
    z-index: -1;
    margin-top: -20px;
  }
  #bottom-right-shape {
    width: 300px;
    height: 100px;
    position: relative;
    background-color: #E39C9C;
    z-index: -4;
    margin-top: -80px;
    left: 150px;
  }
  #state-container {
    margin: auto;
    margin-bottom: 15px;
  }
  #display-container {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }
  #button-container {
    grid-gap: 20px;
  }
}
/*# sourceMappingURL=styling.css.map */